<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
    <span>MD Web App</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>apps</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <a routerLink="/home" md-menu-item>
            <md-icon>add</md-icon>
            <span>Register</span>
        </a>
        <a routerLink="/login" md-menu-item>
          <md-icon>fingerprint</md-icon>
          <span>Login</span>
      </a>
        <button md-menu-item disabled>
            <md-icon>notifications_off</md-icon>
            <span>Disable alerts</span>
        </button>
    </md-menu>
</md-toolbar>
<app-splash></app-splash>
<router-outlet></router-outlet>
