<md-card>
    <md-card-content>
        <div class="container">
            <h2>Invite Friends</h2>
            <h4>fb-send</h4>
            <fb-send href="https://github.com/orgs/PixieDigifin/"></fb-send>
        </div>
    </md-card-content>
    <md-card-actions>
        <button (click)="login()" md-raised-button class="btn-primary">
            Login
        </button>
        <button (click)="share()" [disabled]="!logintrue" md-raised-button class="btn-primary">
            Share
        </button>
    </md-card-actions>
</md-card>