<div flex="" layout="row" layout-align="center center" layout-fill="" class="layout-fill layout-align-center-center layout-row flex">
    <md-card flex="90" class="tri-wizard-card md-whiteframe-z1 margin-bottom-100 _md md-cyan-theme flex-90" tri-wizard="">
        <md-toolbar class="md-primary _md md-cyan-theme _md-toolbar-transitions">
            <div class="md-toolbar-tools layout-align-space-between-center layout-row" layout="row" layout-align="space-between center">
                <h2>User Registration</h2><h2 class="ng-binding"> 7% <span translate="" class="ng-scope">Complete</span></h2>
            </div>
            <md-progress-bar class="md-accent padding-bottom-10 md-cyan-theme" md-mode="determinate" 
                ng-value="triWizard.progress" aria-valuemin="0" aria-valuemax="100" role="progressbar" 
                aria-checked="true" value="7" aria-valuenow="7">
                <div class="md-container md-mode-determinate">
                    <div class="md-dashed"></div>
                    <div class="md-bar md-bar1"></div>
                    <div class="md-bar md-bar2" style="transform: translateX(-46.5%) scale(0.07, 1);"></div>
                </div>
            </md-progress-bar>
        </md-toolbar>
        <md-card-content>
            <md-tab-group class="md-primary layout-fill ng-isolate-scope md-dynamic-height md-cyan-theme" 
                layout-fill="" md-selected="triWizard.currentStep" md-dynamic-height="">
                <md-tab>
                    <ng-template md-tab-label>
                        <span class="oxy-step-label ng-scope">1</span>
                        <span translate="" class="ng-scope">Account details</span>
                    </ng-template>
                    <h1>Best pasta restaurants</h1>
                    <p>...</p>
                </md-tab>
                <md-tab>
                    <ng-template md-tab-label>
                    <md-icon>thumb_down</md-icon> The worst sushi
                    </ng-template>
                    <h1>Terrible sushi restaurants</h1>
                    <p>...</p>
                </md-tab>
            </md-tab-group>
        </md-card-content>
        <md-card-actions>
            <button md-button>Next</button>
            <button md-button>Previous</button>
        </md-card-actions>
    </md-card>
</div>